<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>geo_2_0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="geodata acquisition - waiting page" />
		<meta property="og:site_name" content="geo_2_0" />
		<meta property="og:title" content="geo_2_0" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="geodata acquisition - waiting page" />
		<link href="static/geo/main.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="static/geo/main.css" />
		<noscript><link rel="stylesheet" href="static/geo/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<section id="home-section">
						<div id="columns01" class="container default">
							<div class="wrapper">
								<div class="inner">
									<div id="image01" class="image">
										<img src="static/images/logo.jpg" alt="" />
									</div>
									<h1 id="text04">Geodata acquisition</h1>
									<ul id="buttons01" class="buttons">
										<li>
											<a href="/return_to_menu" class="button n01">Back to Menu</a>
										</li>
									</ul>
									<p id="text01">Thank you. Your data is being downloaded and this might take a few moments. You will be automatically redirected when the process is finished.</p>
								</div>
							</div>
						</div>
					</section>
					<section id="done-section"></section>
				</div>
			</div>
		</div>
		<script src="static/geo/main.js"></script>
	</body>
</html>