<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Add surfaces</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="first trees page" />
		<meta property="og:site_name" content="surfaces_1_0" />
		<meta property="og:title" content="surfaces_1_0" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="first trees page" />
		<link href="static/trees_standard/main.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="static/trees_standard/main.css" />
		<noscript><link rel="stylesheet" href="static/trees_standard/noscript.css" /></noscript>	</head>
	<body class="is-loading">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<section id="home-section">
						<div id="columns01" class="container default">
							<div class="wrapper">
								<div class="inner">
									<div id="image01" class="image">
										<img src="static/images/logo.jpg" alt="" />
									</div>
									<h1 id="text04">Adding surfaces</h1>
									<p id="text05"><span>Make sure that the TargetSurfaces json file is in the Target_surfaces folder</span>
									<ul id="buttons02" class="buttons">
										<li>
											<a href="/go_to_sensors_1_0" class="button n02">Download Files</a>
										</li>
									</ul>
									<ul id="buttons01" class="buttons">
										<li>
											<a href="/return_to_menu" class="button n01">Back to Menu</a>
										</li>
									</ul>

							</div>
						</div>
					</section>
					<section id="done-section"></section>
				</div>
			</div>
		</div>
		<script src="static/trees_standard/main.js"></script>
	</body>
</html>