<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>terrain_1_0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="terrain generation" />
		<meta property="og:site_name" content="terrain_1_0" />
		<meta property="og:title" content="terrain_1_0" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="terrain generation" />
		<link href="static/generation_pages/main.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="static/generation_pages/main.css" />
		<noscript><link rel="stylesheet" href="static/generation_pages/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<div id="columns01" class="container default">
						<div class="wrapper">
							<div class="inner">
								<div id="image01" class="image">
									<img src="static/images/logo.jpg" alt="" />
								</div>
								<h1 id="text04">Terrain generation</h1>
								<ul id="buttons02" class="buttons">
									<li>
										<a href="/return_to_menu" class="button n01">Back to menu</a>
									</li>
								</ul>
								<p id="text05"><span>Click the button to generate the STL file for the terrain:</span><br /><br /><span><strong>The process could take some minutes. Please do not leave this page. You will be automatically redirected.</strong></span></p>
								<ul id="buttons01" class="buttons">
									<li>
										<a href="/terrain_1_0" class="button n01">Generate Terrain</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="static/generation_pages/main.js"></script>
	</body>
</html>