<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>trees_3_0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="third trees page" />
		<meta property="og:site_name" content="trees_3_0" />
		<meta property="og:title" content="trees_3_0" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="third trees page" />
		<link href="static/trees_3_0/main.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="static/trees_3_0/main.css" />
		<noscript><link rel="stylesheet" href="static/trees_3_0/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<div id="columns01" class="container default">
						<div class="wrapper">
							<div class="inner">
								<div id="image01" class="image">
									<img src="static/images/logo.jpg" alt="" />
								</div>
								<h1 id="text04">Thank you</h1>
								<p id="text05">Your tree(s) have been generated. Please find the STL files of trees, buildings and terrain in your project folder or click here to download all STL files.</p>
							</div>
						</div>
					</div>
					<ul id="buttons01" class="buttons">
						<li>
							<a href="/go_to_trees_1_0" class="button n02">Create Another Tree</a>
						</li><li>
							<a href="/return_to_menu" class="button n02">Back to Main Menu</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="static/trees_3_0/main.js"></script>
	</body>
</html>